.stop-button {
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(203, 79, 79);
  color: white;
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: bold;
  padding: 1rem 2rem;
  margin: 2rem auto;
  cursor: pointer;
}
